.textFind {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.inputForm {
    text-align: left;
    justify-content: center;
}

.input {
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #141414;
    box-shadow: 0 0 8px rgb(135, 203, 225);
    height: 30px;
}